<% layout("/layouts/boilerplate") %>
<body>
  <h2>Listings</h2>
  <ul>
    <% listings.forEach((listing) => { %>
      <li>
        <p>
          <strong><%= listing.title %></strong>
        </p>
        <p><%= listing.description %></p>
        <p>Price: &#8377;<%= listing.price.toLocaleString("en-IN") %></p>
        <p>Location: <%= listing.location %></p>
        <p>Country: <%= listing.country %></p>
        <a href="/listings/view/<%= listing._id %>">View Details</a>
      </li>
    <% }); %>
</body>