<% layout("/layouts/boilerplate") %>
<body>
  <div id="listings" class="container">
    <% listings.forEach((listing) => { %>
    <div class="listing-card">
      <a href="/listings/view/<%= listing._id %>" class="listing-link">
        <div class="listing-image">
          <img src="<%= listing.image %>" alt="<%= listing.title %>" />
        </div>
        <div class="listing-info">
          <p class="listing-title"><%= listing.title %></p>
          <p class="listing-location">
            <%= listing.location %>, <%= listing.country %>
          </p>
          <p class="listing-price">
            &#8377;<%= listing.price.toLocaleString("en-IN") %> per night
          </p>
        </div>
      </a>
    </div>
    <% }); %>
  </div>
</body>
